.nav-bar {
    position: fixed;
    width: 100vw;
    height: 50px;
    left: 0;
    top: 0;
    z-index: 10;
    box-shadow: 0px 5px 7px lightgrey;
}

@media screen and (max-width: 1200px) {
    .nav-bar {display: none;}
}