.nav-bar-item {
    /* basic style */
    height: 44px;
    line-height: 44px;
    width: fit-content;
    padding: 0px 7px;
    margin: 0px 5px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    float: left;
    position: relative;
    box-sizing: border-box;

    /* disable user select */
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    /* background effect */
	background: linear-gradient(to left, rgba(0,0,0,0) 50%, black 50%);
    background-size: 200% 5px;
    background-position: bottom 0 right 1px;
    background-repeat: no-repeat;
    transition-duration: .5s;
}

.nav-bar-item:hover {
    background-position: bottom 0 left 0;
    cursor: pointer;
}

.nav-bar-item:hover .sub-menu {
    transform: scaleY(100%);
}

@media screen and (max-width: 1200px) {
    .nav-bar-item {
        width: 100%;
        height: fit-content;
        font-size: 20px;
        border-bottom: 1px dashed grey;
        line-height: unset;
        margin: unset;
        padding: 10px;
        overflow: auto;
        background: unset;
    }
}