.sub-menu-item {
    font-size: 17px;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

.sub-menu-item:hover {
    cursor: pointer;
    background-color: lightgrey;
}
/* drop down type */
.sub-menu-dropdown .sub-menu-item {
	width: 100%;
    text-align: center;
    border-top: 1px dashed lightgrey;
    border-radius: inherit;
    padding: 0px 2px;
}
.sub-menu-dropdown .sub-menu-item:first-child {
    border-top: unset;
}

/* block type */
.sub-menu-block .sub-menu-item {
    display: inline-block;
    width: 20%;
    padding: 0px 7px;
    word-wrap: break-word;
    line-height: unset;
    border-radius: 5px;
    vertical-align: top;
}