.sub-menu-item {
    font-size: 17px;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

.sub-menu-item:hover {
    background-color: lightgrey;
}
/* drop down type */
.sub-menu-dropdown .sub-menu-item {
	width: 100%;
    text-align: center;
    border-top: 1px dashed lightgrey;
    border-radius: inherit;
    padding: 0px 10px;
    white-space: nowrap;
}
.sub-menu-dropdown .sub-menu-item:first-child {
    border-top: unset;
}

/* block type */
.sub-menu-block .sub-menu-item {
    display: inline-block;
    width: 20%;
    padding: 0px 7px;
    word-wrap: break-word;
    line-height: unset;
    border-radius: 5px;
    vertical-align: top;
}

@media screen and (max-width: 1023px) {

    .sub-menu-block .sub-menu-item,
    .sub-menu-dropdown .sub-menu-item {
        display: block;
        width: calc(100% - 10px);
        padding: 5px 10px;
        margin: 5px;
        min-width: unset;
        max-width: unset;
        min-height: unset;
        max-height: unset;
        text-align: left;
        border: unset;
        font-size: 17px;
        height: fit-content;
    }

    .sub-menu-item:nth-child(odd) {
        background-color: rgb(233, 233, 233);
    }
}