.account-details {
	width: 30%;
    height: fit-content;
    min-height: 90%;
    margin: auto;
    margin-bottom: 20px;
    padding: 5vh 3% 0 3%;
    position: relative;
}

.account-details .avatar {
    width: 130px;
    height: 130px;
    border-radius: 130px;
    border: 2px solid black;
    text-align: center;
    background-size: 100%;
    background-position: center;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.account-details .avatar img {
    width: 100%;
    height: 100%;
    display: block;
}

.account-details .avatar .icon {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: 14px;
    margin-top: 10px;
}

.account-details .detail {
    width: 90%;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    line-height: 50px;
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    box-sizing: border-box;
    display: block;
}

.account-details .detail:is(input):hover {
    cursor: default !important;
}
.account-details .detail:is(input):focus {
    outline: none;
}

.account-details .detail:is(.first) {
    margin-top: 40px;
}

.account-details .detail-title {
    position: absolute;
    left: 0;
    width: 70%;
    background-image: linear-gradient(to right, rgb(160, 160, 160) 35%, transparent);
    color: white;
    text-align: left;
    padding-left: 10%;
    border-radius: 10px 30px 30px 10px;
    transform: scaleX(0);
    transform-origin: left center;
    transition-duration: .3s;
}

.account-details .detail:hover .detail-title {
    transform: scaleX(100%);
}

/* 
   use a container to keep logout button center, 
   and only logout button can be clicked, 
   not the whole line  
*/
.account-details .logout-container {
    color: blue;
    position: absolute;
    bottom: 5vh;
    width: 80%;
    text-align: center;
}

.account-details .logout {
    margin: auto;
    width: fit-content;
}

.account-details .avatar:hover,
.account-details .detail:not(.no-edit):hover,
.account-details .logout:hover {
    cursor: pointer;
}

.account-details .edit-icon {
    position: absolute;
    left: 90%;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    transition-duration: .5s;
}

.account-details .finish-edit {
    left: calc(86% + 10px);
    color: limegreen;
    border: 1px solid limegreen;
}

.account-details .cancel-edit {
    left: calc(86% + 50px);
    color: red;
    border: 1px solid red;
}

.account-details .edit-icon:hover {
    cursor: pointer;
    box-shadow: 2px 3px 4px grey;
}

.account-details .avatar .edit-avatar {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to top, grey 7%, transparent 55%);
    color: white;
    font-size: 17px;
    font-weight: 500;
    transition-duration: .5s;
    transform: translateY(55%);
    transform-origin: bottom center;
}

.account-details .avatar .edit-avatar span {
    position: absolute;
    bottom: 27px;
    text-align: center;
    display: block;
    width: 100%;
    user-select: none;
}

.account-details .avatar:hover .edit-avatar {
    transform: translateY(0);
}