body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div {
    display: block;
    box-sizing: border-box;
}

.main-viewport {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 50px);
    left: 0;
    bottom: 0;
    z-index: 9;
}

@media screen and (max-width: 1200px) {
    .main-viewport {height: 100vh;}
}